<h1 class="jumbotron">My Portfolio</h1>
<div>
  <div class="row container">
    <div>      
      <h3>Search Currency Quotation</h3>
      <%= render 'form' %>
      <%= render 'list' %>
    </div>
  </div>
</div>